<header>
    <h1>{{title}}</h1>
    <app-button 
        color="{{showAddTask ? 'red' : 'green'}} "
        text="{{showAddTask ? 'Close Task' : 'Add Task'}} " 
        (btnClick)="toggleAddTask()"
        *ngIf="hasRoute('/')"
    ></app-button>
</header>