<form 
    class="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddTask"
    (ngSubmit)="cleanInput()"
>
    <div class="form-control">
        <label for="text">Task</label>
        <input 
            type="text" 
            name="text" 
            id="text" 
            autocomplete="off"
            placeholder="Agregar una nueva Tarea"
            [(ngModel)]="text"
            >
    </div>

    <div class="form-control">
        <label for="day">Dia y horario</label>
        <input 
            type="date" 
            name="day" 
            id="day" 
            autocomplete="off"
            placeholder="dd/mm/yyyy"
            [(ngModel)]="day"
            >
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Recordar?</label>
        <input 
            type="checkbox" 
            name="reminder" 
            id="reminder"
            placeholder="desea que se lo recuerde?"
            [(ngModel)]="reminder">
    </div>
    
    <input type="submit" value="Save Task" class="btn btn-block">
</form>