<div class="task"
    [ngClass]="{reminder: task.reminder}"
    (click)="onToggle(task)"
>
    <h3>
        {{task.text}} 
    <fa-icon 
        [icon]="faTimes"
        [ngStyle]="{'color':'red'}"
        (click) = "onDelete(task)">
    ></fa-icon>
    </h3>
    <p>
        {{task.day}}
    </p>
</div>
